## **Task-1**
Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

Ananya Singh (20MIC0095)
ananya.singh2020d@vitstudent.ac.in

In [6]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randint(low=1, high=17, size=(4,4)),columns=list('ABCD'))
df

    A  B   C   D
0  15  2  16   2
1   2  7   4   7
2   1  6   9   6
3  13  4   8  12

## **Task-2**
Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

Ananya Singh (20MIC0095) ananya.singh2020d@vitstudent.ac.in

In [11]:
df=df.rename(columns={'A':'Random value 1','B':'Random value 2', 'C':'Random value 3', 'D':'Random value 4'})
df

   Random value 1  Random value 2  Random value 3  Random value 4
0              15               2              16               2
1               2               7               4               7
2               1               6               9               6
3              13               4               8              12

## **Task-3**
Find the descriptive statistics of the 'df' dataframe

Ananya Singh (20MIC0095) ananya.singh2020d@vitstudent.ac.in

In [12]:
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000         4.00000        4.000000
mean         7.750000        4.750000         9.25000        6.750000
std          7.274384        2.217356         4.99166        4.112988
min          1.000000        2.000000         4.00000        2.000000
25%          1.750000        3.500000         7.00000        5.000000
50%          7.500000        5.000000         8.50000        6.500000
75%         13.500000        6.250000        10.75000        8.250000
max         15.000000        7.000000        16.00000       12.000000

## **Task-4**
Check for the null values in 'df' and find the data type of the columns.

Ananya Singh (20MIC0095) ananya.singh2020d@vitstudent.ac.in

In [13]:
#checking for null values in the entire dataframe df
df.isnull().values.any()

False

In [14]:
#finding the data type of the columns
df.dtypes

Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

## **Task-5**
Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

Ananya Singh (20MIC0095) ananya.singh2020d@vitstudent.ac.in

In [17]:
#Location method >> loc
df.loc[:,['Random value 2','Random value 3']]

   Random value 2  Random value 3
0               2              16
1               7               4
2               6               9
3               4               8

In [18]:
#index location method >> iloc
df.iloc[:,[1,2]]

   Random value 2  Random value 3
0               2              16
1               7               4
2               6               9
3               4               8